*{color:#312a2a;font-family:"Inter"}h2{font-weight:300;font-size:24px;margin:0;padding-bottom:40px}section{background:#f5f5f5;padding-bottom:115px}a{color:#312a2a;font-weight:400;font-size:16px;text-decoration:none}header{background:#f5f5f5;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header .header_elements{display:inline-block;padding:24px 25px 0}header nav{margin-right:20%}header header ul{height:70px;margin:0}header .header_phone{margin-left:15px}header .header_icon{width:20px;height:20px;margin-right:5px}footer{min-height:250px;background:#c2d3ee;width:100%;font-weight:400;font-size:14px;line-height:20px}footer .footer_wrapper{min-height:250px;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center}footer ul{list-style:none;text-align:right}footer a{font-size:14px;line-height:20px}footer .footer_icon_wrapper{width:65px;margin:0 auto;margin-top:20px}footer .footer_icon{width:30px;height:30px}footer .footer_block{margin-right:70px;}

.wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-top: 130px;
    margin: 0 auto;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
}

.first_img{
    overflow: hidden;
    border-radius:15px;
    max-width: 350px;
    max-height: 350px;

}

.text{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    padding-bottom: 20px;
}

span{
    font-weight: 600;
}

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} }
