@font-face {
  font-family: 'GillSans';
  src: local('Gill Sans Light'), local('Gill-Sans-Light'),
      url('../fonts/GillSansLightC.woff2') format('woff2'),
      url('../fonts/GillSansLightC.woff') format('woff'),
      url('../fonts/GillSansLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
*{color:#312a2a;font-family:"GillSans"}h2{font-weight:400;font-size:30px;margin:0 auto;padding-bottom:60px; text-align: center;text-transform: uppercase;}section{background:#f5f5f5;padding-bottom:115px}a{color:#312a2a;font-weight:400;font-size:16px;text-decoration:none}header{background:#f5f5f5;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header ul li{display:inline-block;padding:24px 25px 0}header nav{margin-right:20%}header header ul{height:70px;margin:0}header .header_phone{margin-left:1%}header .header_icon{width:20px;height:20px;margin-right:5px}.button_start{width:200px;height:48px;margin:0 auto;background:#3a77ca;border-radius:15px;font-weight:400;font-size:16px;border:0;margin-top:40px;text-align:center;color:#f5f5f5}.entry .entry_wrapper{display:flex;justify-content:space-between;flex-wrap:wrap}.entry .entry_element{margin:0 auto;padding-bottom:40px;width:300px}.entry .entry_wrapper img{border-radius:15px;width:290px;height:432px;text-align:center;margin-bottom:20px}.entry a{line-height:19px;font-weight:300}.entry .entry_wrapper span{font-weight:600}.about .about_wrapper{display:flex;justify-content:space-around;flex-wrap:wrap}.about img{max-width:400px;max-height:400px;text-align:center;margin-bottom:20px;border-radius: 15px}.about .about_text{display:inline-block;max-width:600px;font-weight:300}.about span{font-weight:500}.clients .clients_wrapper{padding-top:30px;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center}.clients_icon{display: inline-block;min-width: 20%;padding-bottom:30px;margin:0 auto; overflow: hidden;}.clients .clients_wrapper img{display:block;margin:0 auto; max-width: 125px;max-height: 125px;}footer{min-height:150px;background:#c2d3ee;width:100%;font-weight:400;font-size:16px;line-height:20px}footer .footer_wrapper{min-height:150px;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center}footer ul{list-style:none;text-align:right}footer a{font-size:16px;line-height:20px}footer .footer_icon_wrapper{width:65px;margin:0 auto;margin-top:20px;margin-right: 40px;}footer .footer_icon{width:30px;height:30px}footer .footer_block{margin-right:70px;}
.about{
    padding-top: 130px;
    padding-bottom: 95px;
}
.l img{width: 70px;height: 70px;}

.linkss{
 width: 190px;
  }

.entry a.entry_link{
  padding-top: 30px;
    width: 185px;
    float: right;
    text-decoration-line: underline;
    font-weight: 400;
}
.text{
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #312A2A;
}

.entry{
    padding-top: 115px;
}

.second_mission{
  padding-top: 115px;
  background: #fff;
}

.second_mission .mission_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.second_img{
    max-width: 400px;
    max-height: 400px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.mission_block{
    display: inline-block;
}

.second_mission .text{
    max-width: 545px;
}

.second_mission ul{
    font-weight: 300;
}

.third_principles{    
    background: #C2D3EE;
    padding-top: 115px;
}

.third_principles ol{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: decimal;
    border-radius:15px;
    margin: 0;
}

.third_principles li{
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #312A2A;
    max-width: 350px;
}
.fourth_meetings h2{
    padding-top: 75px;
}

.fourth_meetings{
  background:#fff
}

.fourth_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.fourth_element{
    margin-bottom: 25px;
    border-radius: 15px;
    max-width: 280px;
    height: 280px;
    overflow: hidden;
}

.fifth_element{
margin: 0 auto;
width: 90%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
padding-bottom: 40px;
}
.fifth_name{
    padding-bottom: 40px;
    padding-top: 10px;
}
.clients{
    padding-top: 115px;
    background-color:#fff;

  }
.fifth_img{
    margin: 0 auto;
    text-align: center;
    max-width: 230px;
    height: 230px;
    border-radius:180px;
    overflow: hidden;
    margin: 15px;}


.fifth_command .fifth_text{
    display: inline;
    background: #C2D3EE;
    max-width: 100%;
    border-radius:15px;
    padding: 20px;
}

.fifth_command .text{
    max-width: 578px;
}

.fifth_command{
padding-top: 115px;
padding-bottom: 115px;
}

.fifth_command span{
    font-weight: 600;
}

.seventh_enroll{
    padding-bottom: 100px;
}

.seventh_wrapper img{

    border-radius: 15px;
    width: 290px;
    height: 432px;
}

.seventh_element{
    margin: 0 auto;
}
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} 

@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} 

}}
@media(max-width: 767px){
  .second_mission{
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .third_principles{
    padding-top: 70px;
  }
  .fourth_meetings{
    padding-top: 0;
    padding-bottom: 60px;
  }
  .fourth_meetings h2{
    padding-top: 40px;
  }

  .clients{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .container{
    padding-left: 9px;
    padding-right: 9px;
  }
    .header_icon{
        display: inline-block;
        max-width: 15px;
        max-height: 15px;
      }
    .header_phone{
        font-size: 12px;
    }
    .header__nav {
      display: block;
      position: absolute;
        top: 55px;
        left: 0;
        background: rgb(245, 246, 246);
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        left:-100%;
    }
    .header__menu {
      display: block;
      margin: 0;
      padding: 0;
    }
    .header__nav.open-menu{
        left:0;
    }
    .header__menu li {
      text-align: center;
      display: block;
      padding-top: 10px;
      padding-bottom: 0;
      margin: 0;
      font-size: 16px;
      }
    .menu-burger__header {
      position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
       }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
      height: 3px;
      width: 100%;
      position: absolute;
      background: #515758;
      margin: 0 auto;
    }
    .menu-burger__header span{
      top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
      content: '';
    }
    h2{
      font-size: 24px;
    }
    .menu-burger__header:after{
      bottom: 5px;
    }
    .menu-burger__header:before{
      top: 5px;
    }
    .menu-burger__header.open-menu span {
      opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
      transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
      transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    header{
      max-height: 180px;
    }
    .fixed-pade {
        overflow: hidden;
    }
    footer .footer_wrapper div{
      padding-top: 15px;

      display: block;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 15px;
      text-align: center;
    }
    footer ul{
      display: block;
      width: 100%;
      text-align: center;
    }
    .clients_icon{
      min-width: 140px;
    }
    .fifth_img{
      max-width:250px;
      max-height: 250px;
    }
    .fourth_element{
      max-width: 150px;
      height: 150px;
      margin-bottom: 10px;
  }
  .about img{
    width: 300px;
    height: 300px;
  }
  .third_principles{
    padding-bottom: 0
  }
  .fifth_command{
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .about img, .second_img{
    border-radius: 0;
  }

  .entry{
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .about{
    padding-bottom: 50px;
  }
    }
