*{
    font-family: 'Inter';
}

header{
    background: #f5f5f5;
}

section{
    background: #f5f5f5;
}

.header_wrapper{
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-right: 30px;
}

a{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.header_menu{
    margin-right: 270px;
    height: 70px;
}

.header_elements{
    display: inline-block;
    padding: 11px 25px 0;
}

header ul{
    margin: 0;
    padding-top: 13px;
}

.first_banner{
    margin-left: 60px;
    background:url("/src/img/first_page/1_slide.jpg");
    height: 329px;
    background-repeat: no-repeat;
    color:#FFFFFF;
}

.first_banner h2{
    color:#FFFFFF;
}

button{
    margin-top: 40px;
    width: 200px;
    height: 48px;
    background: rgba(58, 119, 202, 0.85);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    text-align: center;
    color: #F5F5F5;
}

h2{
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    padding-top: 40px;
}

.third_wrapper{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.third_wrapper img{
    border-radius: 15px;
}

.third_wrapper .text{
    padding-top: 29px;
    width: 292px;
    padding-bottom: 62px;
}

.third_enroll a.third_enroll_link{
    display: inline-block;
    width: 193px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: none;
    color: #000000;
    margin-left: 639px;
}

.third_enroll{
    padding-bottom: 100px;
}

.fourth_about{
    padding-top: 30px;
    padding-bottom: 50px;
}

.fourth_about h2{
    display: inline-block;
    width: 1111px;
}

.first_img{
    padding-bottom: 70px;
}

.fourth_about .second_img{
    float: right;
    margin-left: 150px;
}

.fourth_about .text{
    display: inline-block;
    width: 568px;
    min-height: 240px;
}

span{
    font-weight: 500;
}

.fourth_about a{
    display: inline-block;
    margin-top: 75px;
    margin-left: 1210px;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 80px;
}

.next{
    padding-bottom: 40px;
}

.fifth_command .container{
    background: #F4F3F8;
}

.fifth_wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-right: 30px;
}

.fifth_command .text{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding-bottom: 60px;
}

.fifth_command span{
    font-weight: 600;
}

.fifth_command img{
    padding-bottom: 32px;
}

.sixth_clients{
    padding-top: 120px;
    padding-bottom: 100px;
}

.sixth_clients .container{
    background-color: #FFFFFF;
    border-radius: 20px;
}

.sixth_wrapper{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sixth_wrapper_2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sixth_wrapper img{
    padding-right: 120px;
    padding-bottom: 66px;
}

.sixth_wrapper_2 img{
    padding-right: 50px;
    padding-bottom: 66px;
}

.seventh_wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.seventh_wrapper a{
    display: inline-block;
    width: 311px;
}

.seventh_wrapper img{
    padding-bottom: 23px;
}

.news{
    display: inline-block;
    margin-left: 1130px;
    padding-top: 90px;
    text-decoration: underline;
    padding-bottom: 90px;
}

.description h3{
    padding-top: 40px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.description .text{
    min-height: 136px;
    line-height: 19px;
}

.description{
    padding-bottom: 100px;
    padding-left: 96px;
}


footer{
    width: 100%;
    height: 327px;
    background: #C2D3EE;
}

.footer_wrapper{
    height: 327px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span{
    font-weight: 700;
}

footer ul{
    list-style: none;
    text-align: right;
}

footer a{
    font-weight: 400;
    font-size: 16px;
    color:#000000;
}

.footer_part{
    line-height: 36px;
}