*{
    font-family: 'Inter';
}

header{
    background: #f5f5f5;
    position: fixed;
    width: 100%;
}

section{
    background: #f5f5f5;
}

.header_wrapper{
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-right: 30px;
}

a{
    font-weight: 400;
    font-size: 14px;
    color: #312A2A;
    text-decoration: none;
}

.header_menu{
    margin-right: 270px;
    height: 70px;
}

.header_elements{
    display: inline-block;
    padding: 11px 25px 0;
}

header ul{
    margin: 0;
    padding-top: 13px;
}

.header_phone{
    margin-left: 20px;
}

.first_banner h2{
    padding-top: 120px;
    color: #312A2A;}

button{
    margin-top: 40px;
    width: 200px;
    height: 48px;
    background: rgb(58, 119, 202);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    text-align: center;
    color: #F5F5F5;
}

h2{
    font-weight: 400;
    font-size: 30px;
    color: #312A2A;
    padding-top: 40px;
}

.third_wrapper{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.third_element{
    margin: 0 auto;
}

.third_wrapper img{
    border-radius: 15px;
    width: 290px;
    height: 432px;
    text-align: center;
    margin-bottom: 20px;
}

.third_wrapper .text{
    padding-top: 20px;
    width: 292px;
    padding-bottom: 62px;
    font-size: 16px;
    line-height: 19px;
}

.third_element span{
    font-weight: 600;
}

.third_enroll button{
    font-weight: 400;
    font-size: 16px;
    color: #312A2A;
    margin-left: 50%;
    width: 50px;
    text-align: center;
    display: inline-block;
    background: none;
}

.third_enroll{
    padding-bottom: 100px;
}

.fourth_about{
    padding-top: 15px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.first_img{
    display: inline-block;
}

.fourth_about h2{
    display: inline-block;
}

.fourth_about .second_img{
    float: right;
    margin-left: 7%;
    margin-bottom: 20px;
}

.fourth_about .text{
    display: inline-block;
    max-width: 568px;
    min-height: 240px;
    margin-bottom: 40px;
}

span{
    font-weight: 500;
}

.fourth_about a{
    float: right;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: #312A2A;
    margin-right: 3%;
}

.next{
    padding-bottom: 40px;
    margin-top: 40px;
    margin-right: 3%;
}

.fifth_command .container{
    background: #F4F3F8;
}

.fifth_wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-right: 30px;
}

.fifth_command .text{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #312A2A;
    padding-bottom: 60px;
}

.fifth_command span{
    font-weight: 600;
}

.fifth_command img{
    margin-bottom: 32px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.sixth_clients{
    padding-top: 50px;
    padding-bottom: 50px;
}

.sixth_clients h2{
    padding-bottom: 20px;
}

.sixth_clients .wr{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.sixth_wrapper{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sixth_wrapper_2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sixth_wrapper img{
    margin: 0 auto;
}

.sixth_wrapper_2 img{
    padding-right: 50px;
    padding-bottom: 66px;
}

.seventh_wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seventh_wrapper a{
    display: inline-block;
    width: 311px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.seventh_wrapper img{
    padding-bottom: 23px;
    width: 308px;
    height: 184px;
    border-radius: 15px;
}

.news{
    float: right;
    text-decoration: underline;
    margin-right: 3%;
}

.description h2{
    padding-top: 70px;
}

.description h3{
    padding-top: 40px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 24px;
    color: #312A2A;
}

.description .text{
    min-height: 136px;
    line-height: 19px;
}

.description{
    padding-bottom: 100px;
}
footer{
    min-height: 327px;
    background: #C2D3EE;
    width: 100%;
}

.footer_wrapper{
    background: #C2D3EE;
    height: 327px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span{
    font-weight: 700;
}

footer ul{
    background: #C2D3EE;
    list-style: none;
    text-align: right;
}

footer a{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color:#312A2A;
}

.icon_wrapper{
    padding-left: 60px;
    margin-top: 20px;

}

.footer_icon{
    width: 20px;
    height: 20px;    
    margin-right: 5px;
}

footer .footer_icon{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.footer_part{
    line-height: 36px;
    background: #C2D3EE;
}

.footer_part_1{
    line-height: 36px;
    width: 160px;
    margin-right: 130px;
}

@media screen and (max-width: 1280px){ 
    div.contentblock {width: 1200px;}
    *{overflow-x: hidden;
        max-width: 100%;}
} 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} 
    *{overflow-x: hidden;
        max-width: 100%;}} 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} 
    *{overflow-x: hidden;
        max-width: 100%;}
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.itc-slider__items {
  counter-reset: slide;
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.itc-slider__item {
  flex: 0 0 100%;
  counter-increment: slide;
  position: relative;
  user-select: none;
  will-change: transform;
}

.itc-slider {
    position: relative;
  }
  
  .itc-slider__wrapper {
    overflow: hidden;
  }
  
  .itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  .itc-slider__transition-none {
    transition: none;
  }
  
  .itc-slider__item {
    flex: 0 0 100%;
    width: 100%;
    user-select: none;
    will-change: transform;
  }
  
  /* кнопки влево и вправо */
  .itc-slider__btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 67px;
    color: #fff;
    text-align: center;
    border: none;
    transform: translateY(-100%);
    cursor: pointer;
    background: none;
    margin-right: 2%;
    margin-left: 2%;
  }
  
  .itc-slider__btn_hide {
    display: none;
  }
  
  .itc-slider__btn_prev {
    left: 0;
  }
  
  .itc-slider__btn_next {
right: 0;  }
  
  .itc-slider__btn:hover,
  .itc-slider__btn:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
  }
  
  .itc-slider__btn::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
.itc-slider__btn_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
.itc-slider__btn_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
.itc-slider__indicator {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    text-indent: -999px;
    background-color: rgb(255 255 255 / 50%);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }
  
.itc-slider__indicator_active {
    background-color: rgb(255 255 255 / 90%);
}  

  .itc-slider__item{

    background-color: #FCE691;
    min-height: 400px;
    border-radius: 15px;
    padding-bottom: 20px;
  }

.seventh .text{
    display: block;
    width: 70%;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #312A2A;
    margin: 0 auto;
}

.seventh img{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.seventh .name{
    display: block;
    margin: 30px auto;
    max-width: 200px;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: #312A2A;
}

.seventh h2{
    font-weight: 400;
    font-size: 30px;
    color: #312A2A;
    padding-bottom: 30px;
}

.seventh{
    padding-bottom: 100px;
}

.seventh .start{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 200px;
    height: 48px;
    background: rgb(58, 119, 202);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    border: 0;
    text-align: center;
    color: #F5F5F5;
}