@font-face {
  font-family: 'GillSans';
  src: local('Gill Sans Light'), local('Gill-Sans-Light'),
      url('../fonts/GillSansLightC.woff2') format('woff2'),
      url('../fonts/GillSansLightC.woff') format('woff'),
      url('../fonts/GillSansLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
*{color:#312a2a;font-family:"GillSans"}h2{font-weight:400;font-size:30px;padding-bottom:50px;text-align:center;text-transform:uppercase;margin:0}section{background-color:#f5f5f5;padding-bottom:90px}a{color:#312a2a;font-weight:400;font-size:16px;text-decoration:none}.entry{padding-bottom:40px;padding-top:130px}.entry .entry_wrapper{display:flex;justify-content:space-between;flex-wrap:wrap}.entry a{margin:0 auto;max-width:310px;min-width: 290px;font-weight:300; background:url("../img/3.jpg"); height: 210px;background-size: cover;margin-bottom: 40px;color:#fff;padding: 15px;}.entry span{font-weight:600;color:#fff;}.about .about_wrapper{display:flex;justify-content:space-around;flex-wrap:wrap}.about img{max-width:400px;max-height:400px;border-radius:15px;overflow:hidden}.about .about_text{display:inline-block;max-width:600px;font-weight:300;margin-bottom:20px}.about span{font-weight:500}.about a{text-decoration:underline;float:right;padding-top:40px}.news{padding-bottom:75px}.news .news_wrapper{display:flex;justify-content:space-between;flex-wrap:wrap}.news .news_wrapper a{margin:0 auto;max-width:300px;min-width:250px;margin-bottom:15px;font-weight:300}.news img{height:340px;margin-bottom:20px;border-radius:15px;width:100%;overflow:hidden}.news .news_next{float:right;text-decoration:underline}


header{background:#f5f5f5;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header ul li{display:inline-block;padding:24px 25px 0}header nav{margin-right:20%}header ul{height:70px;margin:0}header .header_phone{margin-left:1%}header .header_icon{width:20px;height:20px;margin-right:5px}.clients .clients_wrapper{padding-top:30px;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center}.clients_icon{display: inline-block;min-width: 20%;padding-bottom:30px;margin:0 auto; overflow: hidden;}.clients .clients_wrapper img{display:block;margin:0 auto; max-width: 125px;max-height: 125px;}.news .news_wrapper{display:flex;justify-content:space-between;flex-wrap:wrap}.news .news_wrapper a{display: inline-block;max-width:300px;margin:0 auto;margin-bottom:30px;font-weight:300}.news .news_wrapper img{display: inline-block;margin-bottom:20px;max-height:240px;border-radius:15px;max-width:300px; overflow: hidden;}.news .news_next{float:right;text-decoration:underline;}footer{min-height:150px;background:#c2d3ee;width:100%;font-weight:400;font-size:16px;line-height:20px}footer .footer_wrapper{min-height:150px;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center}footer ul{list-style:none;text-align:right}footer a{font-size:16px;line-height:20px}footer .footer_icon_wrapper{width:65px;margin:0 auto;margin-top:20;margin-right: 40px;}footer .footer_icon{width:30px;height:30px}footer .footer_block{margin-right:70px;}
.entry .none{background:none}
.l img{width: 70px;height: 70px;}
.linkss{
width: 190px;
}
a.sec{background:url("../img/7.jpg")}
.news h2{
  padding-top: 40px;
}
.command{
  padding-top: 30px;
  background: #C2D3EE;
  padding-bottom: 75px;
}
.clients{
  padding-top: 115px;
  background-color:#fff;
}
.command_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.command span{
    font-weight: 700;
}
.command_element{
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 30px;
    width: 250px;
}
.command img{
    margin-bottom: 20px;
    width: 175px;
    height: 175px;
    border-radius: 180px;
    text-align: center;
}
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} 
}}
@media(max-width: 767px){

  h2{
    font-size: 24px;
  }
  .entry{
    padding-bottom: 40px;
  }
  .about img{
    border-radius: 0;
  }
  .container{
    padding-left: 9px;
    padding-right: 9px;
  }
  .clients_icon{
    min-width: 140px;
  }
  .clients{
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .about{
    padding-bottom: 100px;
  }
  .command{
    padding-bottom: 40px;
  }
  .seventh{
    padding-top: 75px;
  }
  .header_icon{
    display: inline-block;
    max-width: 15px;
    max-height: 15px;
  }
  .header_phone{
    font-size: 12px;
}
  .header__nav {
    display: block;
    position: absolute;
      top: 55px;
      left: 0;
      background: rgb(245, 246, 246);
      box-shadow: #ccc;
      width: 100%;
      box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
      transition: all 0.4s ease;
      left:-100%;
  }
  .header__menu {
    display: block;
    margin: 0;
    padding: 0;
  }
  .header__nav.open-menu{
      left:0;
  }
  .header__menu li {
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
    font-size: 14px;
    }
  .menu-burger__header {
    position: relative;
      width: 40px;
      height: 35px;
      display: block;
      margin-left: 10px;
     }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  .menu-burger__header span{
    top: 16px;
  }
  .menu-burger__header:after, .menu-burger__header:before{
    content: '';
  }
  .menu-burger__header:after{
    bottom: 5px;
  }
  .menu-burger__header:before{
    top: 5px;
  }
  .menu-burger__header.open-menu span {
    opacity:0; 
      transition: 0.5s; 
  }
  .menu-burger__header.open-menu:before {
    transform: rotate(38deg);
      top: 16px;
      transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
      bottom: 16px;
      transition: 0.4s;
  }
  .fixed-pade {
      overflow: hidden;
  }
  .about a, .news_next{
    margin-right: 3%;
  }  
  .footer_block{margin: 0 auto; text-align: center;}
  footer nav{
    display: none;
  }
  .j{
    display: none;
  }
  }
