
@font-face {
  font-family: 'GillSans';
  src: local('Gill Sans Light'), local('Gill-Sans-Light'),
      url('../fonts/GillSansLightC.woff2') format('woff2'),
      url('../fonts/GillSansLightC.woff') format('woff'),
      url('../fonts/GillSansLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
*{color:#312a2a;font-family:"GillSans"}h2{font-weight:400;font-size:30px;margin:0 auto;padding-bottom:60px; text-align: center; text-transform: uppercase;}section{background:#f5f5f5;padding-bottom:115px}a{color:#312a2a;font-weight:400;font-size:16px;text-decoration:none}header{background:#f5f5f5;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header ul li{display:inline-block;padding:24px 25px 0}header nav{margin-right:20%}header header ul{height:70px;margin:0}header .header_phone{margin-left:1%}header .header_icon{width:20px;height:20px;margin-right:5px}.button_start{display: block;width:200px;height:48px;margin:0 auto;background:#3a77ca;border-radius:15px;font-weight:400;font-size:16px;border:0;margin-top:90px;text-align:center;color:#f5f5f5}.about .about_wrapper{display:flex;justify-content:space-around;flex-wrap:wrap}.about img{max-width: 400px;max-height:400px;text-align:center;border-radius: 15px;overflow: hidden;}.about .about_text{display:inline-block;max-width:600px;font-weight:300;margin-bottom:20px}.about span{font-weight:500}.about a{-webkit-text-decoration-line:underline;text-decoration-line:underline;float: right;padding-top: 40px;}.news .news_wrapper{display:flex;justify-content:space-between;flex-wrap:wrap}.news .news_wrapper a{display:inline-block;width:310px;margin:0 auto;margin-bottom:30px;font-weight:300}.news .news_wrapper img{margin-bottom:20px;height:240px;border-radius:15px;width:310px}.news .news_next{float:right;text-decoration:underline;font-weight:400}footer{min-height:150px;background:#c2d3ee;width:100%;font-weight:400;font-size:16px;line-height:20px}footer .footer_wrapper{min-height:150px;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center}footer ul{list-style:none;text-align:right}footer a{font-size:16px;line-height:20px}footer .footer_icon_wrapper{width:65px;margin:0 auto;margin-top:20px;margin-right: 40px; text-align: center;}footer .footer_icon{width:30px;height:30px}footer .footer_block{margin-right:70px;}
.button_start a{
  color:#F5F5F5
}

.fourth_meetings{
background:#fff
}

.fourth_wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.fourth_element{
  margin-bottom: 25px;
  border-radius: 15px;
  max-width: 280px;
  height: 280px;
  overflow: hidden;
}
.first_introduction{
    margin: 0;
    height: 580px;

    background-repeat: no-repeat;
    background-size:cover
}
.f{
  background: url("/img/Group\ 1\ \(1\).jpg");
}

.s{
  background: url("/img/Group\ 1.jpg");
}
.linkss{width: 190px;
  }
.first_wrapper{
    padding-bottom: 70px;
}

.first_introduction h2{
  display: inline-block;
    text-align: left;
    padding-top: 100px;
    padding-left: 5%;
    font-family: 'GillSans';
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 15px;
    max-width: 600px;
}

.first_introduction h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    width: 50%;
    max-width: 648px;
    margin-bottom: 35px;
    padding-left: 5%;
}

.first_introduction p{
    font-family: 'GillSans';
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 5%;
}

.first_introduction button{
margin-top: 20px;
margin-left: 5%;
}


.third_principles{    
    background: #C2D3EE;
    padding-top: 115px;
}
.second_icons{
    padding-top: 100px;
    padding-bottom: 100px;
}

.second_wrapper_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second_icons .second_point_item{
    width: 213px;
    text-align: center;
}

.second_icons .second_item_img{
    top: 0;
    height: 109px;
    margin-bottom: 25px;
    width: 70px;
    height: 70px
}

.second_item_description{
    margin-bottom: 20px;
}

.second_icons .second_benefits_text{
    font-weight: 400;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
}

.third_what{
    background: #C2D3EE;
}

.third_what h2{
    padding-top: 115px;
    text-align: center;
    color: #312A2A;
}

.third_what .text{
    max-width: 600px;
    text-align: left;
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #312A2A;

}
.all{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.third_what img{
  display: inline-block;
  max-height: 420px;
  max-width: 420px;
  overflow: hidden;

    border-radius: 15px;
    text-align: center;
}

.fourth .wrapper{
display: inline-block
}

.fourth .element{
    max-width: 560px;
    min-height: 115px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #312A2A;
    margin-bottom: 40px;
    min-width: 45%;
}

.fourth span{
    font-weight: 600;
    font-size: 18px;
}

.wra{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fourth h2{
    padding-top: 40px;
}

.fifth h2{
    text-align: center;
    color: #312A2A;
}
.fifth img{
  padding-top: 25px;
display: inline-block;
text-align: center;
margin-bottom: 15px;
text-align: center;
margin-left: 15px;
max-width: 400px;
height: 400px;
overflow: hidden;
border-radius: 15px;
}
.fifth_img{
  max-width:250px;
  max-height: 250px;
}
.fifth_element{
  margin: 0 auto;
  width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
    align-items: center;
}

.sixth_element{
    background: #C2D3EE;
    width: 100%;

}

.about h2{
    padding-top: 115px;
}
.fifth{
  background: #fff;
  padding-top: 115px;
}
.fifth_name{
    padding-bottom: 40px;
    padding-top: 10px;
}
.fifth_img{
  text-align: right;
  overflow: hidden;
  max-width: 300px;
  height: 300px;
  border-radius:180px;
  margin-bottom: 10px;}
.fifth_text{
  display: inline;
  background: #C2D3EE;
  max-width: 100%;
  border-radius:15px;
  padding: 40px;
}

.fifth_command .text{
  max-width: 578px;
}

.fifth_command span{
  font-weight: 600;
}
.fifth li{
  max-width:523px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #312A2A;
}

.sixth h2{
  color: #312A2A;
}

.sixth_wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sixth .icon{
  display: inline-block;
  margin-bottom: 20px;
}

.sixth h3{
  margin-top: 50px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #312A2A;
  margin-bottom: 40px;
  display: inline-block;
}

.sixth span{
  font-weight: 600;
}

.sixth .text{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #312A2A;
  max-width: 500px;
}

.sixth .img{
  float: left;
  border-radius:180px
}

.sixth{
  padding-top: 115px;
}
.third_principles ol{
  background: #C2D3EE;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: decimal;
  border-radius:15px;
  margin: 0;
}

.third_principles li{
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #312A2A;
  max-width:350px;
}

.fourth_about .wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fourth_about h2{
color: #312A2A;
padding-top: 40px;
}

.first_img{
display: inline-block;
}

.itc-slider__items {
counter-reset: slide;
display: flex;
transition: transform 0.5s ease;
will-change: transform;
}

.itc-slider__item {
flex: 0 0 100%;
counter-increment: slide;
position: relative;
user-select: none;
will-change: transform;
}

.itc-slider {
    position: relative;
  }
  
  .itc-slider__wrapper {
    overflow: hidden;
  }
  
  .itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  .itc-slider__transition-none {
    transition: none;
  }
  
  .itc-slider__item {
    flex: 0 0 100%;
    width: 100%;
    user-select: none;
    will-change: transform;
  }
  
  /* кнопки влево и вправо */
  .itc-slider__btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 67px;
    color: #fff;
    text-align: center;
    border: none;
    transform: translateY(-100%);
    cursor: pointer;
    background: none;
    margin-right: 2%;
    margin-left: 2%;
  }
  
  .itc-slider__btn_hide {
    display: none;
  }
  
  .itc-slider__btn_prev {
    left: 0;
  }
  
  .itc-slider__btn_next {
    right: 0;
  }
  
  .itc-slider__btn:hover,
  .itc-slider__btn:focus {
    color: #fff;
    text-decoration: none;
    background: rgb(0 0 0 / 30%);
    outline: 0;
  }
  
  .itc-slider__btn::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .itc-slider__btn_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .itc-slider__btn_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .itc-slider__indicator {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    text-indent: -999px;
    background-color: rgb(255 255 255 / 50%);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }
  
  .itc-slider__indicator_active {
    background-color: rgb(255 255 255 / 90%);
}  

  .itc-slider__item{

    background-color: #FCE691;
    min-height: 400px;
    border-radius: 15px;
    padding-bottom: 20px;
  }

.seventh .text{
    display: block;
    width: 70%;
    font-family: 'GillSans';
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #312A2A;
    margin: 0 auto;
}

.seventh img{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.seventh .name{
    display: block;
    margin: 30px auto;
    max-width: 200px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #312A2A;
}

.seventh h2{
    font-weight: 400;
    font-size: 30px;
    color: #312A2A;
    padding-bottom: 30px;
}

.ninth_price .wra{
  align-items: center;
}

.ninth_price{
    background: #fff
}

.ninth_price h2{
    padding-top: 115px;
    padding-bottom: 35px;
    font-family: 'GillSans';
    font-weight: 400;
    text-align: center;
    color: #312A2A;
}

.ninth_price .text{
  font-family: "Arial";
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #312A2A;
}

.ninth_price img{
  margin-top: 20px;
    max-width: 400px;
    max-height: 400px;
    border-radius: 15px;
    display: inline-block;
    overflow: hidden;
}

.ninth_price span{
  font-weight: 700;
  font-family: "Arial";
}

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} }
@media(max-width: 767px){
  section{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .container{
    padding-left: 9px;
    padding-right: 9px;
  }
  .wra{
    width: 100%;
  }
  .fifth img{
    display: inline-block;
    width: 100%;
    margin-left: 0;
    height: 350px;
    overflow: hidden;
  }

  .third_what{
    padding-bottom: 80px;
  }
  .third_what img{
    margin-top: 15px;
  }
    .header_icon{
        display: inline-block;
        max-width: 15px;
        max-height: 15px;
      }
      .header_phone{
        font-size: 12px;
    }
    .header__nav {
      display: block;
      position: absolute;
        top: 55px;
        left: 0;
        background: rgb(245, 246, 246);
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        left:-100%;
    }
    .header__menu {
      display: block;
    }
    .header__nav.open-menu{
        left:0;
    }
    h2{
      font-size: 24px;
    }
    .header__menu li {
      text-align: center;
      display: block;
      padding-top: 10px;
      padding-bottom: 0;
      margin: 0;
      font-size: 14px;
      }
    .menu-burger__header {
      position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
       }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
      height: 3px;
      width: 100%;
      position: absolute;
      background: #515758;
      margin: 0 auto;
    }
    .menu-burger__header span{
      top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
      content: '';
    }
    .menu-burger__header:after{
      bottom: 5px;
    }
    .menu-burger__header:before{
      top: 5px;
    }
    .menu-burger__header.open-menu span {
      opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
      transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
      transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    header{
      max-height: 180px;
    }
    .ninth_price img{
      border-radius:0
    }
    .entry{
      padding-top: 0;
        margin-top: 70px;
    }
    .fixed-pade {
        overflow: hidden;
    }
    section{
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .first_introduction{
      padding-top: 0;
      padding-bottom: 0;
    }
    .third_what h2{
      padding-top: 0;
    }
    .about{
      padding-bottom: 90px;
    }
    footer .footer_wrapper div{
      padding-top: 15px;

      display: block;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 15px;
      text-align: center;
    }
    footer ul{
      display: block;
      width: 100%;
      text-align: center;
    }
    .fifth{
    padding-top: 50px;}
    .sixth{
      padding-top: 70px;
      padding-bottom: 0;
    }
    .ninth_price{
      padding-bottom: 0;
      padding-top: 70px;
    }
    }

