*{color:#312a2a;font-family:"Inter"}h2{font-weight:400;font-size:24px;margin:0 auto;padding-bottom:40px; text-align: center;}section{background:#f5f5f5;padding-bottom:115px}a{color:#312a2a;font-weight:400;font-size:14px;text-decoration:none}header{background:#f5f5f5;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header .header_elements{display:inline-block;padding:24px 25px 0}header nav{margin-right:20%}header header ul{height:70px;margin:0}header .header_phone{margin-left:15px}header .header_icon{width:20px;height:20px;margin-right:5px}.button_start{width:200px;height:48px;margin:0 auto;background:#3a77ca;border-radius:15px;font-weight:400;font-size:14px;border:0;margin-top:40px;text-align:center;color:#f5f5f5}.about .about_wrapper{display:flex;justify-content:space-around;flex-wrap:wrap}.about img{max-width: 400px;max-height:450px;text-align:center;border-radius: 15px}.about .about_text{display:inline-block;max-width:600px;font-weight:300;margin-bottom:20px}.about span{font-weight:500}.about a{-webkit-text-decoration-line:underline;text-decoration-line:underline;float: right;}.news .news_wrapper{display:flex;justify-content:space-between;flex-wrap:wrap}.news .news_wrapper a{display:inline-block;width:310px;margin:0 auto;margin-bottom:30px;font-weight:300}.news .news_wrapper img{margin-bottom:20px;height:240px;border-radius:15px;width:310px}.news .news_next{float:right;text-decoration:underline;font-weight:400}footer{min-height:250px;background:#c2d3ee;width:100%;font-weight:400;font-size:14px;line-height:20px}footer .footer_wrapper{min-height:250px;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center}footer ul{list-style:none;text-align:right}footer a{font-size:14px;line-height:20px}footer .footer_icon_wrapper{width:65px;margin:0 auto;margin-top:20px}footer .footer_icon{width:30px;height:30px}footer .footer_block{margin-right:70px;}

.first_introduction{
    margin: 0;
    height: 580px;
    background: url("/img/third_page/1_bg.jpg");
    background-repeat: no-repeat;
    background-size:cover
}

.first_wrapper{
    padding-bottom: 70px;
}

.first_links{
    padding-top: 70px;
    padding-bottom: 30px;
    color: #312A2A;
    margin-left: 25px;
}

.first_introduction h2{
    padding-top: 130px;
    padding-left: 15%;    
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 15px;
}

.first_introduction h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    width: 50%;
    padding-left: 15%;
    margin-bottom: 42px;
}

.first_introduction p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 15%;
}

.first_introduction button{
    margin-top: 40px;
    margin-left: 15%;
    width: 200px;
    height: 48px;
    background: rgb(58, 119, 202);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    text-align: center;
    color: #F5F5F5;
}

.second_icons{
    padding-top: 100px;
    padding-bottom: 100px;
}

.second_wrapper_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second_icons .second_point_item{
    width: 213px;
    text-align: center;
}

.second_icons .second_item_img{
    top: 0;
    height: 109px;
    margin-bottom: 25px;
    width: 70px;
    height: 70px
}

.second_item_description{
    margin-bottom: 20px;
}

.second_icons .second_benefits_text{
    font-weight: 400;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
}

.third_what .container .third_block{
    background: #C2D3EE;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 100px;
}

.third_what h2{
    padding-top: 51px;
    text-align: center;
    color: #312A2A;
}

.third_what .text{
    margin: 0 auto;
    display: block;
    width: 80%;
    max-width: 667px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #312A2A;
}

.third_block img{
    float: right;
    margin-right: 15px;
}

.fourth h2{
    text-align: center;
}

.fourth .wrapper{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 7%;
    margin-left: 7%;
}

.fourth .element{
    width: 470px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #312A2A;
    padding-bottom: 70px;
}

.fourth span{
    font-weight: 600;
}

.fourth button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 48px;
    margin-top: 50px;

    background: rgb(58, 119, 202);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    text-align: center;
    color: #F5F5F5;
}

.fifth h2{
    text-align: center;
    color: #312A2A;
    margin-bottom: 60px;
}


.fifth img{
    float: right;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 15px;
    text-align: center;
}

.fifth button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 48px;
    margin-top: 70px;
    background: rgb(58, 119, 202);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    text-align: center;
    color: #F5F5F5;
}

.fifth li{
    max-width: 75%;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #312A2A;
}

.sixth h2{
    width: 280px;
    display: inline-block;
    color: #312A2A;
}

.wrapper{
    display: block;
}

.sixth_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sixth .icon{
    display: inline-block;
    margin-bottom: 20px;
}

.sixth h3{
    margin-top: 100px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #312A2A;
    margin-bottom: 94px;
    display: inline-block;
}

.sixth span{
    font-weight: 600;
}

.sixth .text{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #312A2A;
    max-width: 500px;
}

.sixth .img{
    float: left;
}


.third_principles ol{
    background: #C2D3EE;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: decimal;
    border-radius:15px;
    margin: 0;
}

.third_principles li{
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #312A2A;
    min-width: 40%;
    max-width: 400px;
}

.fourth_about .wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fourth_about h2{
    color: #312A2A;
    padding-top: 40px;
}

.first_img{
    display: inline-block;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.itc-slider__items {
  counter-reset: slide;
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.itc-slider__item {
  flex: 0 0 100%;
  counter-increment: slide;
  position: relative;
  user-select: none;
  will-change: transform;
}

.itc-slider {
    position: relative;
  }
  
  .itc-slider__wrapper {
    overflow: hidden;
  }
  
  .itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  .itc-slider__transition-none {
    transition: none;
  }
  
  .itc-slider__item {
    flex: 0 0 100%;
    width: 100%;
    user-select: none;
    will-change: transform;
  }
  
  /* кнопки влево и вправо */
  .itc-slider__btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 67px;
    color: #fff;
    text-align: center;
    border: none;
    transform: translateY(-100%);
    cursor: pointer;
    background: none;
    margin-right: 2%;
    margin-left: 2%;
  }
  
  .itc-slider__btn_hide {
    display: none;
  }
  
  .itc-slider__btn_prev {
    left: 0;
  }
  
  .itc-slider__btn_next {
    right: 0;
  }
  
  .itc-slider__btn:hover,
  .itc-slider__btn:focus {
    color: #fff;
    text-decoration: none;
    background: rgb(0 0 0 / 30%);
    outline: 0;
  }
  
  .itc-slider__btn::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .itc-slider__btn_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .itc-slider__btn_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .itc-slider__indicator {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    text-indent: -999px;
    background-color: rgb(255 255 255 / 50%);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }
  
  .itc-slider__indicator_active {
    background-color: rgb(255 255 255 / 90%);
}  

  .itc-slider__item{

    background-color: #FCE691;
    min-height: 400px;
    border-radius: 15px;
    padding-bottom: 20px;
  }

.seventh .text{
    display: block;
    width: 70%;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #312A2A;
    margin: 0 auto;
}

.seventh img{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.seventh .name{
    display: block;
    margin: 30px auto;
    max-width: 200px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #312A2A;
}

.seventh h2{
    font-weight: 400;
    font-size: 30px;
    color: #312A2A;
    padding-bottom: 30px;
}


.seventh .start{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 200px;
    height: 48px;
    background: rgb(58, 119, 202);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    border: 0;
    text-align: center;
    color: #F5F5F5;
}

.ninth_price h2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #312A2A;
}

.ninth_price .text{
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 15%;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #312A2A;
}

.ninth_price button{
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 50px;
    height: 48px;
    background: rgb(58, 119, 202);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    text-align: center;
    color: #F5F5F5;
}

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} }